.pic{
  display: flex;
  gap: 23px;
}
.pic{
  height: 300px;
  width: 100%;
}
.me{
width: 70%;
}
a{
  color:#ffffff ;
  background-color: red;
  border: 1px solid black;
  text-decoration: none;
}
.show{
  background-image: url("e.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}